<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description %>
  </div>
  <h3>Tasks</h3>
  <div id='tasks'>
    <%= f.fields_for :tasks do |task| %>
      <div class='nested-fields'>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description %>
          </div>
          <div class="field">
            <%= f.check_box :done %>
            <%= f.label :done %>
          </div>
          <%= link_to_remove_association "remove task", f %>
      </div>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add task', f, :tasks %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>