<div class='nested-fields'>
<table>
  <thead>
    <tr>
      <th><%= f.label :description %></th>
      <th><%= f.label :done %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :description %></td>
      <td><%= f.check_box :done %></td>
      <td><%= link_to_remove_association "Remove Task", f %></td>
    <tr>
  </tbody>
</table>
</div>