<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<h3><%= link_to 'New Project', new_project_path %></h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.tasks.count %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @projects %>

<br>


